<div class="row mt-4 mb-4">
    <div class="col-12">
        <img
            [src]="recipe.imagePath"
            alt="{{ recipe.name }}"
            class="img-fluid rounded"
            style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h5>
            {{ recipe.name }}
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="recipeDetailDropdown" data-toggle="dropdown" appDropdown>
                Manage Recipe
            </button>
            <div class="dropdown-menu" aria-labelledby="recipeDetailDropdown">
                <a (click)="onAddToShoppingList()" class="btn dropdown-item" style="cursor: pointer;">Add to Shopping List</a>
                <a class="dropdown-item" style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a>
                <a class="dropdown-item" style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li
                class="list-group-item"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>
