
<div class="row">
    <div class="col-12">
        <div class="media">
            <img class="mr-3" src="../../assets/chef.jpg" alt="Angry Chef">
            <div class="media-body">
                <h5 class="mt-4">Please choose a recipe!</h5>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-12">
        <input type="text" [(ngModel)]="filteredStatus">
        <br>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <br><br>
        <h2>App Status: {{ appStatus | async}}</h2>
        <hr>
        <ul class="list-group">
            <li
            class="list-group-item"
            *ngFor="let server of servers"
            [ngClass]="getStatusClasses(server)">
            <span
                class="badge badge-pill badge-secondary mr-2">
                {{ server.status }}
            </span>
            <strong>{{ server.name | reverse }}</strong> |
            {{ server.instanceType | uppercase }} |
            {{ server.started | date }}
            </li>
        </ul>
    </div>
</div>
