<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="projectName">Project Name</label>
        <input type="text" formControlName="projectName" required>
    </div>

    <div>
        <label for="email">E-mail</label>
        <input
            type="email"
            formControlName="email"
            email
            required>
    </div>

    <div>
        <label for="projectStatus">Project Status</label>
        <select formControlName="projectStatus">
            <option [value]="status" *ngFor="let status of projectStatus">{{ status }}</option>
        </select>
    </div>

    <button
        type="submit"
        >Submit
    </button>
</form>
<p>Values & Status: {{ userForm.value.projectName }} {{ userForm.value.email }} {{ userForm.value.projectStatus }} {{ userForm.status }}</p>
